<app-topbar></app-topbar>
<div style="background:#f6f6f6;min-height:100vh;display:flex;align-items:center;justify-content:center;">
  <div class="card">
    <button class="back-btn" type="button" (click)="volver()">
      <i class="pi pi-arrow-left"></i>
    </button>
    <h2 class="titulo">Anexar&nbsp; nueva infraccion</h2>
    <form>
      <div class="form-group">
        <label>Nombre Completo</label>
        <input type="text" class="input" placeholder="Ingrese su nombre" />
      </div>
      <div class="form-group">
        <label>Tipo de documento</label>
        <select class="input">
          <option>Tipo de documento</option>
          <option>Cédula</option>
          <option>Pasaporte</option>
          <option>Tarjeta de Identidad</option>
        </select>
      </div>
      <div class="form-group">
        <label>Número de Documento</label>
        <input type="text" class="input" placeholder="Ingrese su número de documento" />
      </div>
      <div class="form-group">
        <label>Tipo de multa</label>
        <input type="text" class="input" placeholder="ingresa el tipo de multa" />
      </div>
      <div class="form-group">
        <label>Salario Mínimo Diario Legales Vigentes(smdlv)</label>
        <input type="text" class="input" placeholder="Ingresa a cuantos smdlv equivale la multa" />
      </div>
      <button type="button" class="btn-form">Anexar nueva multa</button>
    </form>
  </div>
</div>
