<app-topbar></app-topbar>
<div class="card">
	<h2 class="titulo">Infracciones</h2>
	<p class="subtitulo">Puedes conseguir el trabajo que tú quieres</p>
	<div class="buscador-bar">
		<input type="text" placeholder="Buscar" class="input buscador" />
		<button class="btn btn-success" (click)="mostrarFormNuevaMulta()">Agregar Nueva Multa</button>
	</div>

	<div *ngIf="mostrarFormulario" class="formulario-modal">
		<div class="formulario-empresarial">
			<button class="btn-cerrar" (click)="ocultarFormNuevaMulta()">
				<i class="pi pi-arrow-left"></i>
			</button>
			<h3 class="form-titulo">Anexar nueva infracción</h3>
			<form>
				<div class="form-group">
					<label>Nombre Completo</label>
					<input type="text" class="input" placeholder="Ingrese su nombre" />
				</div>
				<div class="form-group">
					<label>Tipo de documento</label>
					<select class="input">
						<option>Tipo de documento</option>
						<option>Cédula</option>
						<option>Pasaporte</option>
						<option>Tarjeta de Identidad</option>
					</select>
				</div>
				<div class="form-group">
					<label>Número de Documento</label>
					<input type="text" class="input" placeholder="Ingrese su número de documento" />
				</div>
				<div class="form-group">
					<label>Tipo de multa</label>
					<input type="text" class="input" placeholder="Ingresa el tipo de multa" />
				</div>
				<div class="form-group">
					<label>Salario Mínimo Diario Legales Vigentes (smdlv)</label>
					<input type="text" class="input" placeholder="Ingresa a cuántos smdlv equivale la multa" />
				</div>
				<button type="button" class="btn btn-success btn-form">Anexar nueva multa</button>
			</form>
		</div>
	</div>

	<div class="tabla-responsive" *ngIf="!mostrarFormulario">
		<table class="tabla-infracciones">
			<thead>
				<tr>
					<th>Tipo De Infracción</th>
					<th>Fecha</th>
					<th>Descripción</th>
					<th>Valor</th>
					<th>Estado</th>
					<th>Genera Pdf</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let infraccion of infracciones">
					<td>{{infraccion.tipo}}</td>
					<td>{{infraccion.fecha}}</td>
					<td>{{infraccion.descripcion}}</td>
					<td>{{infraccion.valor | currency:'COP':'symbol':'1.0-0'}}</td>
					<td>{{infraccion.estado}}</td>
					<td>
						<button class="icon-btn" title="Generar PDF" [disabled]="!infraccion.pdf">
							<i class="pi pi-file-pdf"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
