<app-topbar></app-topbar>
<div class="card">
	<h2 class="titulo">Infracciones</h2>
	<div class="buscador-bar">
		<input type="text" placeholder="Buscar" class="input buscador" />
			<button class="btn btn-success" (click)="mostrarFormNuevaMulta()">
				<i class="pi pi-user-plus"></i>
				Agregar Nueva Multa
			</button>
		</div>

		<div class="tabla-responsive">
		<table class="tabla-infracciones">
			<thead>
				<tr>
					<th>Tipo De Infracción</th>
					<th>Fecha</th>
					<th>Descripción</th>
					<th>Valor</th>
					<th>Estado</th>
					<th>Genera Pdf</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let infraccion of infracciones">
					<td>{{infraccion.tipo}}</td>
					<td>{{infraccion.fecha}}</td>
					<td>{{infraccion.descripcion}}</td>
					<td>{{infraccion.valor | currency:'COP':'symbol':'1.0-0'}}</td>
					<td>{{infraccion.estado}}</td>
					<td>
						<button class="icon-btn" title="Generar PDF" [disabled]="!infraccion.pdf">
							<i class="pi pi-file-pdf"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
