<app-topbar></app-topbar>

<mat-card class="payment-fines-card">
 <app-card-header                        
    title="Selección de Multas para Acuerdo de Pago"
    [description]="'Seleccione las multas que desea incluir en el acuerdo de pago.\nPuede elegir una o varias multas para generar el acuerdo.'">
  </app-card-header>


  <!-- Tabla genérica con columnas dinámicas -->
  <app-generic-multas-table
    [data]="multas"
    [columns]="columns">
  </app-generic-multas-table>

  <mat-card-actions align="end">
    <button mat-raised-button color="accent" (click)="onClickGenerar()">
      {{ botonTexto }}
    </button>
  </mat-card-actions>
</mat-card>
