
 <app-topbar></app-topbar>
<mat-card class="payment-fines-card">
  <div class="header-section">
    <h2 class="header-title">Selección de Multas para Acuerdo de Pago</h2>
    <p class="header-description">
      Seleccione las multas que desea incluir en el acuerdo de pago.<br>
      Puede elegir una o varias multas para generar el acuerdo.
    </p>
  </div>

  <!-- 👇 Pasas los datos locales a la tabla genérica -->
  <app-generic-multas-table [multas]="multas"></app-generic-multas-table>

  <mat-card-actions align="end">
    <button mat-raised-button color="accent" [routerLink]="'/uikit/AcuerdoPago'" (click)="onClickGenerar()">
      {{ botonTexto }}
    </button>
  </mat-card-actions>
</mat-card>
