<app-topbar></app-topbar>

<mat-card>
  <app-card-header
    title="Municipios"
    [description]="'Listado de municipios con su código DANE y departamento.'">
  </app-card-header>

  <mat-card-content>
    <ng-container *ngIf="!loading && !errorMsg; else estado">
      <app-generic-multas-table [data]="municipios" [columns]="columns"></app-generic-multas-table>
    </ng-container>

    <ng-template #estado>
      <div *ngIf="loading">Cargando municipios...</div>
      <div *ngIf="!loading && errorMsg" class="text-red-600">{{ errorMsg }}</div>
    </ng-template>
  </mat-card-content>

  <app-button
    texto="Agregar nuevo municipio"
    color="accent"
    (clicked)="onClickGenerar()">
  </app-button>
</mat-card>
