<div class="flex justify-center items-start min-h-screen">
  <div class="bg-white p-10 rounded-xl shadow-lg w-full max-w-2xl">

    <h2 class="text-center text-2xl font-semibold mb-8 text-gray-800">
      Anexar nueva infracción
    </h2>

    <!-- Tipo de documento -->
    <div class="mb-6">
      <label class="block mb-2 font-medium text-gray-700">Tipo de documento</label>
      <p-dropdown [options]="documentTypes" [(ngModel)]="form.documentTypeId" name="documentTypeId" optionLabel="label"
        optionValue="value" placeholder="Seleccione el tipo de documento" class="w-full text-lg" required
        (ngModelChange)="checkExistingInfraction()">
      </p-dropdown>
    </div>

    <!-- Número de documento -->
    <div class="mb-6">
      <label class="block mb-2 font-medium text-gray-700">Número de Documento</label>
      <input pInputText type="text" [(ngModel)]="form.documentNumber" name="documentNumber" class="w-full p-3 text-lg"
        placeholder="Ingrese su número de documento" required minlength="6" maxlength="15" pattern="^[0-9]+$"
        (ngModelChange)="checkExistingInfraction()" />
    </div>

    <!-- Nombre -->
    <div class="mb-6">
      <label class="block mb-2 font-medium text-gray-700">Nombre</label>
      <input pInputText type="text" [(ngModel)]="form.firstName" name="firstName" class="w-full p-3 text-lg"
        placeholder="Ingrese su nombre" required maxlength="100" pattern="^[a-zA-ZÀ-ÿ\s]+$"
        [readonly]="isExistingUser" />
    </div>

    <!-- Apellido -->
    <div class="mb-6">
      <label class="block mb-2 font-medium text-gray-700">Apellido</label>
      <input pInputText type="text" [(ngModel)]="form.lastName" name="lastName" class="w-full p-3 text-lg"
        placeholder="Ingrese su apellido" required maxlength="100" pattern="^[a-zA-ZÀ-ÿ\s]+$"
        [readonly]="isExistingUser" />
    </div>

    <!-- Tipo de multa -->
    <div class="mb-6 dd-wrap">
      <label class="block mb-2 font-medium text-gray-700">Tipo de multa</label>
      <p-dropdown [options]="infractionTypes" [(ngModel)]="form.typeInfractionId" name="typeInfractionId"
        (onChange)="onInfractionTypeChange($event.value)" optionLabel="label" optionValue="value"
        placeholder="Seleccione el tipo de multa" class="w-full text-lg" required>
      </p-dropdown>
    </div>

    <!-- Infracciones -->
    <div class="mb-6 dd-wrap">
      <label class="block mb-2 font-medium text-gray-700">Infracción cometida</label>
      <p-dropdown [options]="infractions" [(ngModel)]="form.infractionId" name="infractionId"
        (onChange)="onInfractionChange($event.value)" optionLabel="label" optionValue="value"
        placeholder="Seleccione la infracción cometida" class="w-full text-lg" required>
      </p-dropdown>
    </div>

    <!-- SMLDV -->
    <div class="mb-8">
      <label class="block mb-2 font-medium text-gray-700">
        Salario Mínimo Diario Legal Vigente (SMLDV)
      </label>
      <input pInputText type="number" [(ngModel)]="form.smldvCount" name="smldvCount" class="w-full p-3 text-lg"
        readonly required min="1" />
    </div>

    <!-- Correo electrónico -->
    <div class="mb-6">
      <label class="block mb-2 font-medium text-gray-700">Correo electrónico</label>
      <input pInputText type="email" [(ngModel)]="form.email" name="email" class="w-full p-3 text-lg"
        placeholder="Ingrese su correo electrónico" required maxlength="100"
        pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" [readonly]="isExistingUser" />
    </div>


    <!-- Botón -->
    <button pButton type="button" label="Anexar nueva multa"
      class="w-full bg-green-700 border-none hover:bg-green-800 text-lg py-4" (click)="saveInfraction()"
      [disabled]="isLoading">
    </button>

    <!-- Opcional: mostrar un indicador mientras carga -->
    <div *ngIf="isLoading" class="text-center mt-2 text-gray-700">
      Registrando multa, por favor espere...
    </div>

  </div>
</div>